body{
    background: linear-gradient(to right, rgb(20, 19, 20), rgb(255, 255, 255))
}

h1{
    display: flex;
    align-items: center;
    justify-content: center;   
}

.buscar1{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

button{
    border-radius: 5px;
    height: 39px;
    color: black;
    background-color: aliceblue;
    box-shadow: 5px 5px 6px;
    margin: 10px;
    transition: 1.5s;
}

button:hover{
    border-radius: 10px;
    color: aliceblue;
    background-color: black;
}

input{
    border-radius: 5px;
    box-shadow: 5px 5px 6px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 500;
    color: black;
    padding: 10px;
    margin: 10px;
    width: 10rem;
}

.endereco{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4rem;
}
 







